<h1 class=" text-2xl rounded-2xl font-bold cursor-text text-center my-2  py-2 text-orange-600 bg-blue-200 "><%= t('.title') %></h1>

     <%= render partial: 'category', collection: @categories %>
<div class=" rounded-2xl font-bold cursor-text text-center  my-2  py-2 text-orange-600 bg-blue-200 ">
      <%= link_to t('.new'), new_category_path %>
</div>      
