<%= turbo_frame_tag "modal" do %>
 <div data-controller="modal">
    <div data-action="click->modal#close" class="fixed z-10 w-full h-full top-0 left-0 bg-gray bg-opacity-40"></div>
      <div  data-modal-target="sidebar_add" class="fixed top-0 right-0 z-20 w-1/2 sm:w-3/6 lg:w-2/6 h-full bg-blue-200 rounded-2xl overflow-y-scroll  flex flex-col ease-in-out duration-300 p-5 translate-x-full">
        <p class="cursor-pointer mb-4" data-action="click->modal#close">❌</p>
         <h2 class="font-bold  text-2xl mb-4 text-orange-600"><%= t('.title') %></h2>
         <%= render 'form' %>
      </div>
 </div>
<% end %>
